*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#left{
    width: 75%;
    height: 100vh;
    /* border: 2px solid; */
    float: left;
}

#right{
    width: 25%;
    height: 100vh;
    border: 2px solid;
    float: right;
}

#player{
    width: 100%;
}

#controls{
    width: 100%;
    height: 9.5vh;
    background-color: black;
}

#progress_bar{
    /* width: 50%; */
    height: 10px;
    background-color: #ccc;
    margin-bottom: 5px;
}

#controls{
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left_btn,#right_btn,#play{
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#time{
    margin: 0px 20px;
}
#other_tools{
    margin: 0 10px;
    cursor: pointer;
}
#other_tools i{
    font-size: 20px;
    padding: 0 10px;
}

.playlist_box{
    width: 100%;
    height: 20%;
    background-color: #ccc;
    text-align: center;
    padding: 2rem 0 0 0;
    position: relative;
}

.playlist_box h2{
    font-size: 35px;
    font-family: sans-serif;
}

.playlist_box input{
    width: 80%;
    height: 2.3rem;
    font-size: 15px;
    padding: 5px;
    outline: none;
    margin: 1rem 0 0 0;
}
.playlist_box i{
    font-size: 1.7rem;
    position: absolute;
    top: 2.3rem;
    right: 2.3rem;
}


#add_box{
    display: none;
    width: 80%;
    height: auto ;
    background-color: brown;
    position: absolute;
    top: 2.3rem;
    right: 4rem;
    border-radius: 15px 0 15px 15px;
} 

#submit_btn{
    width: 20%;
    height: 1.8rem;
    margin: 10px 0 10px 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
}
#add_box h2{
    color: white;
    font-size: 1.8rem;
    margin: 10px 0 0 0;
}
#add_btn{
    cursor: pointer;
}