*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#left{
    width: 75%;
    height: 100vh;
    border: 2px solid;
    float: left;
}

#right{
    width: 25%;
    height: 100vh;
    border: 2px solid;
    float: right;
}

#player{
    width: 100%;
}

#controls{
    width: 100%;
    height: 9.5vh;
    background-color: black;
}

#progress_bar{
    width: 50%;
    height: 10px;
    background-color: #ccc;
    margin-bottom: 5px;
}

#controls{
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left_btn,#right_btn,#play{
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#time{
    margin: 0px 20px;
}
#other_tools{
    margin: 0 10px;
    cursor: pointer;
}
#other_tools i{
    font-size: 20px;
    padding: 0 10px;
}